# Composer files
composer.phar
composer.lock
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/
data/DoctrineORMModule/Proxy/

# Legacy ZF1
demos/
extras/documentation

# PHPStorm
.idea/
.DS_Store

public/uploads